<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Anotador basico!</title>
  </head>
  <body>
    <h1 class="p-2 bg-primary text-white text-center rounded border">Anotador basico!</h1>
<div class="container">
<form class="row g-3 m-3" action="/submitnotaeditada" method="POST">
<div class="col-2">
	<input type="hidden" name="titulo" value="{{nota.titulo}}"/>
    <label for="titulo" class="form-label p-2 bg-primary text-white rounded">Titulo</label>
    <input class="form-control" id="titulo" type="text" placeholder="{{nota.titulo}}" disabled>
</div>
<div class="col-12 my-2">
  <label for="nota" class="form-label p-2 bg-primary text-white rounded">Nota</label>
  <textarea class="form-control" id="nota" name="nota" rows="3">{{nota.nota}}</textarea>
</div>
<div class="col-12">
    <label for="url" class="form-label p-2 bg-primary text-white rounded">Url</label>
    <input type="text" class="form-control" id="url" name="url" value="{{nota.url}}">
</div>
<div class="col-12 my-2">
<button type="submit" class="btn btn-primary mb-3">Update</button>
</div>
</form>
</div>


<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
